main {
    background-color: #11121E;
    color: #FDF0D5;
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.news{
    width: 96%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.welcome{
    width: 65%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Arimo', sans-serif;;
    font-size: 1.8em;    
    margin-left: 12%;
}
.fa-solid{
    font-weight: bold;
    color: #84D2F6 ;
}
.fa-diagram-project {
    color:#EF9CDA;
}
.elementos{
    width: 35%;
    height: 10%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12%;
    column-gap: 6%;
}
.elementos>a{
    /* text-decoration: none; */
    color: #FDF0D5;
}
.nombre{
    font-size: 1.3em;
    font-weight: bolder;
}
.contain-form{
    background-color: #EF9CDA;
    width: 45%;
    height: 65%;
    margin:8% 3% 10% 10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 15px 10px 15px;
}
.contain-form>p{
    font-size: 1.2em;
    color:#11121E;
    margin-top: 2%;
}

form{
    width: 98%;
    height: 70%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin:5% 0%;
    row-gap: 8%;
}

.entradas{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.entradas>input,textarea{
    width: 80%;
    height: 100%; 
    margin-left: 2%;
}


.tip{
    background-color: #84D2F6;
    width:10%;
    height: 20%;
    position: relative;
    bottom: 50%;
    left: -30%;
}

@media screen and (min-width:768px) and (max-width:1024px) {
  
    .contain-form{
        width: 80%;
        height: 45%;
        margin:8% 0 10% 0%;
    }
    .tip{
        width:100px;
        height: auto;
        position: absolute;
        bottom:100px;
        left:500px;
    }
    main{
        width:80vw;
    }
}
@media screen and (max-width:389px){
.contain-form{
    width: 80%;
    height: 45%;
   margin:8% 0 10% 0%;
}
main{
    width:100%;
}
}

    




