/* MI PRESENTACION */
main {
    background-color: #11121E;
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadro {
    width: 100%;
    height: 42%;
    background-image: url(../multimedia/images/LOGO_PORTAFOLIO_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-banner {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0% 25%;
}
.contenido_datos {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.welcome-banner {
    height: 19%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: bolder;
    color: #FDF0D5;
    margin-top: 1%;
}

.nombre {
  
    height: 45%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 4em;
    color:#FDF0D5;
    /* sombra */
    text-shadow: -4px 0px 0px #543976b9;
}

.m {
    position: relative;
    margin-left: 34%;
    margin-top: -9%;
}

.tips {
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2%;    
}

.forma{
    width: 30%;
    height: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EF9CDA;
    color: #543976;
    border-radius: 37px 30px 37px 30px;
    border: outset #EF9CDA;
    -webkit-border-radius: 37px 37px 37px 37px;
    -moz-border-radius: 37px 37px 37px 37px;
    text-align: center;
}

.titulo {
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;
    font-size: 1.05em;
}

.detalle {
    font-family: 'Barlow Condensed', sans-serif;
    
}

.welcome {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: bolder;
    color: #FDF0D5;
}



/* mis trabajos */
.news {
    width: 100%;
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 5%;
}

.card-group {
    width: 96%;
    height: 98%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    margin-top: 1%;
}

.card-uno {
    background-image: url(../multimedia/images/proyecto_sazon/logo-sazon.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    height: 55%;
}

.card-dos {
    background-color: #EF9CDA;
    width: 25%;
    height: 55%;
}

.card-tres {
    background-color: #EF9CDA;
    width: 25%;
    height: 55%;
}
