* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

aside {
    width: 10vw;
    min-height: 100%;
    background-color: #0f5174;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #11121E;
}


.selected {
    width: 90%;
    height: 18%;
    background-color: #84D2F6;
    border-top: 2px solid #84D2F6;
    border-bottom: 2px solid #84D2F6;
    font-weight: bold;
    margin: 1% 0;
    font-size: 1.2em;

}


.unselected {
    width: 90%;
    height: 15%;
    background-color: #11121ece;
    border: 1px solid #11121ece;
    margin: 1% 0;

}

.logo {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.relleno {
    background-color: #0f5174;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.menu {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.menu>li {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li a {
    text-decoration: none;
    color: #FDF0D5;
}

li {
    list-style-type: none;
}

.redes {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
    font-weight: bold;
    font-size: 1.2em;
}
/* CONTENIDO DE LA PAGINA */
main {
    background-color: #11121E;
    width: 90vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    color:#FDF0D5;
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.descripcion{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% 1%;
    text-align: justify;
}

.capture{
    background-image: url(../multimedia/images/proyecto_sazon/portada.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 68%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.estilos{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
    margin-top: 5%;
}
.container-uno{
    background-color: #FDF0D5;
    width: 30%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px 10px 15px 10px;
}
.paleta{
    background-image: url(../multimedia/images/proyecto_sazon/paleta\ sazon.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    border-radius: 15px 10px 15px 10px;
}
.container-dos{
    background-color: #FDF0D5;
    width: 30%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px 10px 15px 10px;
}
.logo{
    background-image: url(../multimedia/images/proyecto_sazon/logo-sazon.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    border-radius: 15px 10px 15px 10px;
    
}
.diseño{
    width: 90%;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    color:#11121E;
}
.container-tres{
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
    color:#11121E;
    margin-top: 5%;
}

.izquierda{
    background-color: #FDF0D5;
    width: 48%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px 10px 15px 10px;
}
.izquierda>p{
    margin: 0% 3%;
    text-align: justify;
}
.derecha{
    background-color: #FDF0D5;
    width: 48%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px 10px 15px 10px;
}
.derecha>p{
    margin: 0% 3%;
    text-align: justify;
}

.capture-tres{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.capture-tres>img{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 8%;
}

.capture-cuatro{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capture-cuatro>img{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 8%;
}
.container-cuatro{
    color:#FDF0D5;
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.capture-cinco{
    background-image: url(../multimedia/images/proyecto_sazon/recetas.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.texto-cuatro{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}