* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* body {
    width: 100%;
    min-height: 100vh;
} */

aside {
    position: fixed;
    top: 0;
    left: 0;
}

/* CONTENIDO DE LA PAGINA*/
main {
    background-color: #11121E;
    color: #FDF0D5;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.contenedor {
    width: 100%;
    height: 100vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.parrafo {
    margin-bottom: 0px;
}

.news {
    width: 96%;
    height: 10%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.welcome {
    width: 65%;
    height: 100%;
    display: flex;
    font-size: 1.4em;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Arimo', sans-serif;
    margin-left: 12%;
}

.fa-solid {
    font-weight: bold;
    color: #84D2F6;
}

.fa-diagram-project {
    color: #EF9CDA;
}

.elementos {
    width: 35%;
    height: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    margin-right: 12%;
    column-gap: 6%;
}

.elementos>a {
    color: #FDF0D5;
}

.contenedor-form {
    background-color: #A99F96;
    width: 45%;
    height: 70%;
    margin: 7% 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 15px 10px 15px;
}

.contenedor-form>p {
    color: #11121E;
    margin-top: 2%;
    margin-bottom: 2%;
}

.form-control {
    width: 80%;
    height: 100%;
    margin-left: 2%;
}

form {
    width: 98%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5%;
}

.entradas {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tip {
    /* background-image: url(../multimedia/images/avatar.png);
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    right: 20%;
    background-color: #84D2F6;
}

.tip>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.btn {
    background-color: #e44bb1;
    color: #FDF0D5;
}

.btn:hover {
    background-color: #ee05a0;
}

/* RESPONSIVE */
/* PC */
@media (min-width:1370px) {
    main {
        width: 100%;
    }

    .contenedor {
        width: 100%;
        margin-left: 15%;
    }
    .news{
        width: 100%;
    }

    .contenedor-form {
        width: 60%;
        height: 450px;
        margin-top:200px;
    }
    .welcome{
        font-size: 1.5em;
        margin:0;
     }
     .elementos{
        font-size: 1.3em;
        align-items: center;
     }

    .tip {
        width: 130px;
        height: 130px;
        top: 260px;
        right: 200px;
    }
    form{
        font-size: 1.5em;
    }
}


/* TABLETS */

@media screen and (min-width:768px) and (max-width:1025px) {
    main {
        width: 100%;
        height: 100%;
        align-items: flex-start;
    }

    .contenedor {
        width: 100%;
        height: 100%;
        margin-left: 15%;
    }

    .news {
        width: 80%;
        height: 50px;
        justify-content: flex-start;
        margin-left: 0;
    }

    .welcome {
        font-size: 1em;
        margin: 0;
    }

    .elementos {
        margin-top: 8px;
    }

    .contenedor-form {
        width: 70%;
        height: 450px;
        margin: 250px 10px 15px 10px;
    }

    form {
        width: 100%;
        height: 90%;
        row-gap: 8%;
        font-size: 1em;
    }

    .tip {
        top: 140px;
        right: 35%;
    }
}


/* MOVIL */
@media screen and (min-width:576px) and (max-width:767.98px) {
    main {
        width: 100%;
        height: 100%;
        align-items: flex-start;
    }

    .contenedor {
        height: 100%;
        width: 100%;
        margin-left: 20%;
    }

    .news {
        width: 85%;
        height: 80px;
        margin-left: 15%;
    }

    .welcome {
        margin-left: 10px;
        font-size: 1em;
    }

    .elementos {
        flex-direction: column;
        align-items: flex-end;
    }

    .contenedor-form {
        width: 90%;
        height: 450px;
        margin: 300px 10px 15px 10px;
    }

    form {
        width: 100%;
        height: 90%;
        row-gap: 8%;
        font-size: 0.8em;
    }

    .tip {
        width: 110px;
        height: 110px;
        top: 120px;
        right: 30%;
    }
}

/* MOVIL CHICO HORIZONTAL */
@media screen and (min-width:321px) and (max-width:575.98px) {
    main {
        width: 100%;
        height: 100%;
        align-items: flex-start;
    }

    .contenedor {
        width: 100%;
        height: auto;
        margin-left: 22%;
    }

    .news {
        width: 100%;
        height: 50px;
        margin-top: 10px;
        justify-content: flex-start;
    }

    .welcome {
        margin-left: 3%;
        font-size: 1em;
    }

    .elementos {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        margin-right: 3%;
        row-gap: 1%;
        font-size: 0.7em;
        margin-top: 5px;
    }

    .contenedor-form {
        width: 90%;
        height: 350px;
        margin: 200px 10px 15px 10px;
    }

    form {
        width: 100%;
        height: 90%;
        row-gap: 8%;
        font-size: 0.8em;
    }

    .tip {
        width: 110px;
        height: 110px;
        top: 100px;
        right: 25%;
    }
}

/* MOVIL CHICO VERTICAL*/
@media screen and (max-width:320px) {
    main {
        width: 100%;
        align-items: flex-start;
    }

    aside {
        left: -13%;
    }

    .contenedor {
        width: 100%;
        height: auto;
        margin: 0%;
    }

    .news {
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }

    .welcome {
        font-size: 1em;
        margin-left: 18%;
    }

    .elementos {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        margin-right: 3%;
        row-gap: 1%;
        font-size: 0.6em;
        margin-top: 5px;
    }

    .contenedor-form {
        width: 80%;
        height: 300px;
        margin: 200px 10px 15px 10px;
    }

    form {
        width: 100%;
        height: 90%;
        row-gap: 8%;
        font-size: 0.8em;
    }

    .entradas {
        height: 30px;
    }

    .entradas>textarea {
        height: 50px;
    }

    .tip {
        width: 100px;
        height: 100px;
        top: 80px;
        right: 30%;
    }
}