* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
}

/* CONTENIDO DE LA PAGINA*/
main {
    background-color: #11121E;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  
}

.container-banner {
    width: 100%;
    height: auto;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      margin-bottom: 20px;
}

.cuadro {
    width: 100%;
    height: 250px;
    background-image: url(../multimedia/images/LOGO_PORTAFOLIO_1.png);
    background-size: cover;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-banner {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% 25% 1% 25%;
}

.welcome-banner {
    height: 18%;
    font-family: 'Roboto', sans-serif;
    color: #FDF0D5;
    font-size: 1.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.nombre {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Arimo', sans-serif;
    font-size: 3.5em;
    color: #FDF0D5;
    /* sombra */
    text-shadow: -4px 0px 0px #543976b9;
}

.parrafo {
    margin-bottom: 0px;
}

.fw-bolder {
    margin: 0;
}

.m {
    position: relative;
    margin-left: 34%;
    margin-top: -14%;
}

.tips {
    width: 90%;
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
}


.forma {
    width: 30%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #db5fb2;
    color: #FDF0D5;
    border-radius: 37px 30px 37px 30px;
    border: outset #c566a5;
    -webkit-border-radius: 37px 37px 37px 37px;
    -moz-border-radius: 37px 37px 37px 37px;
    text-align: center;
}



.titulo {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

.detalle {
    font-family: 'Barlow Condensed', sans-serif;
}





/* mis trabajos */
.news {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* margin-top: 5%; */
}

.welcome {
    width: 100%;
    height: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #FDF0D5;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.card-group {
    width: 96%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    margin: 0;
}

.flip-container {
    background-color: transparent;
    width: 260px;
    height: 160px;
    /* border: 1px solid #ccc; */
    /* perspective: 1000px;  */
}

.card {
    background-color: #A99F96;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-container:hover .card {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
}

.front-uno:hover {
    background-color: #8cc63e;
    border-color: #8cc63e;
}

.back {
    background-color: #A99F96;
    color: #11121E;
    transform: rotateY(180deg);
}


/* .card-uno>img {
    position: relative;
    top: -20px;
    left: 13px;
    height: 60%;
    width: 90%;
} */

.vista-proyecto {
    background-color: #11121e75;
    border: none;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    right: 100px;
    top: 50px;
    z-index: 2;
}



.vista-proyecto>a {
    text-decoration: none;
    color: #FDF0D5;
}

.sazon:hover {
    border: solid 3px #8cc63e;
    background-color: #8cc63e;
    color: #FDF0D5;
}



.vacio:hover {
    border: solid 3px #d6b3bd;
    background-color: #d6b3bd;
    color: #FDF0D5;
}

/* RESPONSIVE */
/* PC GRANDE*/
@media screen and (min-width:1361px) {
main{
    width: 100%;
}

.info-banner{
    width: 100%;
    margin:0% 10%;
}
.welcome-banner {
    padding-top: 10px;
    font-size: 1.5em;
}
.nombre{
    font-size: 3.6em ;
}
.titulo{
    font-size: 1.5em;
}
.card-group{
    column-gap: 4%;
    height: 90%;
}
.flip-container {
    width: 300px;
    height: 220px;
}
.welcome{
    height: 10%;
    font-size: 2em;
}
.front,
.back {
    font-size: 1.6rem;
}

.vista-proyecto {
    width: 70px;
    height: 70px;
    right: 115px;
    top: 75px;
}
.parrafo{
    padding-left: 5px;
    padding-right: 5px;
}
}

/* TABLET */
@media screen and (min-width:768px) and (max-width:1024px) {
    
    main {
        width: 100%;
        height: 100%;
    }
    .container-banner {
        width: 85%;
        height: 100%;
      margin-left: 14%;
    }

    .cuadro {
        height: 45%;
        width: 100%;
    }
    .info-banner{
        width: 100%;
        margin:0% 10%;
    }
    .welcome-banner {
        padding-top: 10px;
    }

    .forma {
        width: 48%;
        height: 100%;
    }
   
.titulo{
    font-size: 1em;
}

    .news {
        width: 100%;
        height: 55%;
    }
    .card-group {
        width: 100%;
        height: 90%;
        padding-top: 10px;
        padding-bottom: 15px;
       column-gap: 3%;  
       padding-left: 10px;   
    }
}

/* MOVIL GRANDE*/

@media screen and (min-width:576px) and (max-width:767.98px) {
    main {
        width: 100%;
        height: auto;
    }

    .container-banner {
        width: 100%;
        height: 100%;
      margin-left: 19%;
    }

    .cuadro {
        height: 42%;
        width: 100%;
    }

    .info-banner {
        height: 100%;
        width: 100%;
    }

    .welcome-banner {
        font-size: 1.1em;
        padding-top: 10px;
    }

    .nombre {
        font-size: 2.6em;
        height: 40%;
    }

    .tips {
        width: 90%;
        height: 20%;
    }

    .forma {
        width: 48%;
        height: 50%;
    }

    .titulo {
        font-size: .8em;
    }

    .detalle {
        font-size: .7em;
    }

    .news {
        width: 100%;
        height: 58%;
    }

    .welcome {
        width: 78%;
        height: 10%;
        font-size: 1.1em;
    }

    .card-group {
        width: 78%;
        height: 90%;
        padding-top: 15px;
        padding-bottom: 15px;
        row-gap: 10px;
        column-gap: 10px;
        margin-top: 5px;
    }

    .flip-container {
        width: 240px;
        height: 160px;
    }

    .front,
    .back {
        font-size: 1rem;
    }

    .vista-proyecto {
        width: 50px;
        height: 50px;
        right: 95px;
        top: 55px;
    }
    .parrafo{
        padding-left: 5px;
        padding-right: 5px;
    }

}

/* MOVIL CHICO HORIZONTAL */
@media screen and (min-width:321px) and (max-width:575.98px) {
  
    main {
        width: 100%;
        height:100%;
    }

    .container-banner {
        width: 100%;
        height: 100%;
        margin: 0%;
    }

    .cuadro {
        height: 40%;
        width: 100%;
    }

    .info-banner {
        height: 100%;
        width: 100%;
        margin: 0% 0% 0% 22%;
    }

    .welcome-banner {
        font-size: 1em;
        padding-top: 10px;
    }

    .nombre {
        font-size: 2.3em;
        height: 40%;
    }

    .tips {
        width: 80%;
        height: 22%;
    }

    .forma {
        width: 48%;
        height: 60%;
    }

    .titulo {
        font-size: .8em;
    }

    .detalle {
        font-size: .6em;
    }

    .news {
        width: 100%;
        height: 60%;
    }

    .welcome {
        width: 78%;
        height: 10%;
        margin: 0% 0% 0% 22%;
        font-size: 1em;
    }

    .card-group {
        width: 78%;
        height: 90%;
        margin: 0% 0% 0% 22%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    .flip-container {
        width: 200px;
        height: 150px;
    }

    .front,
    .back {
        font-size: 0.9rem;
    }

    .vista-proyecto {
        width: 40px;
        height: 40px;
        right: 80px;
        top: 55px;
    }
}


/* MOVIL CHICO VERTICAL*/
@media screen and (max-width:320px) {

    main {
        width: 100%;
        height: 100%;
    }

    aside {
        left: -13%;
    }

    .container-banner {
        width: 100%;
        height: 100%;
        margin: 0%;
    }

    .cuadro {
        height: 50%;
        width: 100%;

    }

    .info-banner {
        height: 100%;
        width: 100%;
        margin: 0% 0% 0% 18%;
    }

    .welcome-banner {
        font-size: 1em;
        padding-top: 10px;
    }

    .nombre {
        font-size: 2em;
    }

    .tips {
        width: 100%;
    }

    .forma {
        width: 48%;
        height: 100%;
    }

    .titulo {
        font-size: .9em;
    }

    .detalle {
        font-size: .7em;
    }

    .news {
        width: 100%;
        height: 50%;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .welcome {
        width: 82%;
        height: auto;
        margin: 0% 0% 0% 18%;
        font-size: 1em;
    }

    .card-group {
        width: 82%;
        height: 90%;
        margin: 0% 0% 3% 18%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }

    .flip-container {
        width: 200px;
        height: 120px;
    }

    .front,
    .back {
        font-size: 0.9rem;
    }

    .vista-proyecto {
        width: 40px;
        height: 40px;
        right: 80px;
        top: 40px;
    }
}